<ion-content [fullscreen]="true">
  
        <ion-toast 
        [isOpen]="isOpen"
        [message]="message"
        [color]="color"
        position="top"
        duration="2000">
      </ion-toast>
  

  <br><br><br>

  <ion-grid fixed="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input placeholder="Password" type="password" [(ngModel)]="password" (keydown.enter)="login()"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-button expand="full" (click)="login()">
            Login
          </ion-button>
        </ion-item>

        @if (loading) {
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
        }
      </ion-card-content>
    </ion-card>
  </ion-grid>

</ion-content>
