<ion-content [fullscreen]="true">
  
    <ion-toast #toast></ion-toast>  
  
    <br><br><br>
  
    <ion-grid fixed="true">
  
      @if (login_type === '') {
        <ion-row>
          <ion-col>
            <ion-card (click)="login_type = 'students'" class="card-special">
              Sign in as Student
            </ion-card>
          </ion-col>
          
          <ion-col>
            <ion-card (click)="login_type = 'teachers'" class="card-special">
              Sign in as Faculty
            </ion-card>
          </ion-col>
        </ion-row>
      } @else {
  
        <ion-card>
          <ion-card-header>
            <ion-card-title>Login as {{ login_type === 'students' ? 'Student' : 'Faculty' }}</ion-card-title>
          </ion-card-header>
  
          <ion-card-content>
            <ion-item>
              <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
  
            <ion-item lines="none">
              <ion-button expand="full" (click)="login()">
                Login
              </ion-button>
            </ion-item>
  
            @if (loading) {
              <ion-progress-bar type="indeterminate"></ion-progress-bar>
            }
  
            <ion-item lines="none">
              <ion-button color="danger" expand="full" (click)="login_type = ''">
                Back
              </ion-button>
            </ion-item>
            
          </ion-card-content>
        </ion-card>
  
      }
    </ion-grid>
  </ion-content>
  